body{
    background: white   ;
    font-size: 20px;
    padding: 0px;
    background-image: url(http://pm1.narvii.com/6466/91d0c0edca7d09990f5b212a8b33a10ebe277073_00.jpg);
}
header nav a{
    color: goldenrod;
}
h2 {
    color: white;

}
body .section-1 {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}
body .box-1{
    width: 500px;
    height: 150px;
    background: rgb(89, 89, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15%;
}
h4 {color: white;
     text-transform: capitalize;
    
}
body .box-1 a {
    font-size: 15px; text-decoration: none;
    
}
body .box-1 a :hover{
    text-decoration: underline;

}
body .box-2{
    width: 300px;
    height: 300px;
background: black;
margin-left: 35%;
border-radius: 10%;
}
body .section-2 .box-3{
    width: 400px;
    height: 400px; background: black;
}

body .photo img{
background-image: url(https://sm.ign.com/ign_pt/news/b/blizzard-m/blizzard-may-one-day-let-alliance-and-horde-play-together-in_xjx2.jpg);
background-size: 100px;
width: 400px;
height: auto;


}


ul a{color: blue;
margin-left: 15px;
text-transform: capitalize;
}



